a(href='/') home
h1= title
p #{title}#{title}#{title}
p art
div.container_12
    p A persistent playable system for the web that turns user interactions into the audiovisual elements of an interactive, plugin-free virtual world.