!!! 5
html(lang='en')
  head
    title bethere
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    style
      body {
      background:#000;
      color:#fff;
      padding:0;
      margin:0;
      font-weight: bold;
      overflow:hidden;
      }
      #info {
      position: absolute;
      top: 0px; width: 100%;
      color: #ffffff;
      padding: 5px;
      font-family: Helvetica;
      font-size: 38px;
      text-align: center;
      z-index:100;
      }
      a {
      color:red
      }
  body
    script(src='javascripts/three.js/build/Three.js')
    script(src='javascripts/three.js/examples/js/Detector.js')
    script(src='javascripts/three.js/examples/js/RequestAnimationFrame.js')
    script(src='javascripts/three.js/examples/js/Stats.js')
    script(src='javascripts/world.js')
  #info.container_12
    a(href='/about') about
    h1(style="cursor:none") be there
    h2(style="cursor:none") mmxii
   
