!!! 5
html(lang="en")
    head
        title bethere
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
        
        script(src='vendor/three.js/Three.js')
        script(src='vendor/three.js/Detector.js')
        script(src='vendor/three.js/Stats.js')
        
        script(src='vendor/threex/THREEx.screenshot.js')
        script(src='vendor/threex/THREEx.FullScreen.js')
        script(src='vendor/threex/THREEx.WindowResize.js')
        script(src='vendor/threex.dragpancontrols.js')
        
        script(src='vendor/three.js/ShaderExtras.js')
        script(src='vendor/three.js/postprocessing/EffectComposer.js')
        script(src='vendor/three.js/postprocessing/RenderPass.js')
        script(src='vendor/three.js/postprocessing/BloomPass.js')
        script(src='vendor/three.js/postprocessing/ShaderPass.js')
        script(src='vendor/three.js/postprocessing/MaskPass.js')

        link(rel='stylesheet', href='stylesheets/main.css')
    body
        #container
        #info
            .top
                a(href='/about') about
                h1 be there
                h2 mmxii
            div#inlineDoc.bottom
                p - p for screenshot

        script(src='javascripts/main.js')

        
   
