//
    !!!
    html
    head
        title= title
        //link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel='stylesheet', href='/stylesheets/960gs.css')
        //link(rel='shortcut icon', href='/images/favicon.ico')
        //script(src='javascripts/dat.gui.js')
        //script(src='javascripts/move.js/move.js')
        //script(src='javascripts/Audiolet/src/audiolet/Audiolet.js')
        //meta(property='og:title', content='#{title}')
        //meta(property='og:type', content='website')
        //meta(property='og:url', content='')
        //meta(property='og:description', content='')
        //meta(property='og:image', content='')
      body!= body

