!!! 5
html
  head
    title learningthree.js boiler plate for three.js
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    != SocketStream
  body
    //
      three.js container 
    #container
    //
      info on screen display 
    #info
      .top
        a(href='http://learningthreejs.com/blog/2011/12/20/boilerplate-for-three-js/', target='_blank') LearningThree.js
        |  boiler plate for
        a(href='https://github.com/mrdoob/three.js/', target='_blank') three.js
      #inlineDoc.bottom
        
          | -
          i p
          |  for screenshot
